<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
        <div class="banner-small">
            <div class="wrapper">
                <h2>Adaptations Teacher's Kit</h2>
                <h3>Lessons for teaching “Adaptations of living organisms” to year levels 5/6 of the Australian Curriculum</h3>
            </div><!-- /wrapper -->
        </div>
        <div class="acknowledgement">
            <div class="wrapper">
                <p>This kit has been developed by Deakin University, The University of Melbourne and the Gene Technology Access Centre (GTAC), thanks to the Reconceptualising Mathematics and Science Teacher Education Programs (ReMSTEP) project.</p>
            </div><!-- /wrapper -->
        </div>
        <div class="wrapper">
            {% include main-nav.html %}
        </div><!-- /wrapper -->
    </header>

    <main>
        <div class="wrapper">
            